.themePage_section {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;

    .buttons_section {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .button {
            display: 'block';
            text-align: center;
            margin-top: 25px;
            margin-bottom: 10px;
            width: 55%;

            a {
                display: block;
                margin: 0 auto;
                text-decoration: none;
                color: white;
                padding: 10px 0px;
                width: 100%;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
            }


            .orange {
                background-color: #a40329;

            }

            .blue {
                background-color: #3b4f6d;

            }
        }
    }

    .themePage_section_mainHeader {
        margin-top: 80px;
        text-align: center;
        width: 100%;
    }

    .themePage_section_templateContainer {
        width: 85%;
        padding: 5%;
        border: 2px solid black;
        box-shadow: 1px 1px 20px 1px #888;
        margin: 20px 2.5% 20px 2.5%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        img {
            width: 98%;
            padding: 2.5% 1%;
            height: auto;
        }


    }



}



@media only screen and (min-width: 700px) {
    .themePage_section {
        display: block;


        .buttons_section {
            justify-content: space-around;

            .button {
                width: 25%;
                margin: 25px 0px;
            }

            .button:nth-child(1) {
                margin-left: 70px;
            }

            .button:nth-child(2) {
                margin-right: 70px;
            }
        }


        .themePage_section_mainHeader {
            margin: 120px 0px 90px 0px;
        }

        .themePage_section_templateContainer {
            width: calc(40% - 4px);
            padding: 2.5%;
            height: auto;
            display: inline-block;
        }
    }

}

@media only screen and (min-width: 700px) and (min-height: 1000px) {
    .themePage_section {
        display: block;
        height: 100vh;
    }
}

@media only screen and (min-width: 1000px) {
    .themePage_section {
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 80vh;
        margin-bottom: 10vh;


        .buttons_section {

            .button:nth-child(1) {
                margin-left: 130px;
            }

            .button:nth-child(2) {
                margin-right: 130px;
            }
        }

        .themePage_section_mainHeader {
            margin: 150px auto 50px auto;
        }

        .themePage_section_templateContainer {
            box-sizing: border-box;
            width: calc(29% - 4px);
            margin: 20px 20px;
            padding: 2%;
            height: auto;
        }
    }
}