.worth_section {
    background-color: #fff;
    padding-top: 60px;
    text-align: center;
    border-bottom: 4px solid green;
    position: relative;
    max-width: 1920px;
    margin: 0px auto;

    img {
        margin-top: 15px;
        width: 100%;
        height: auto;
    }
}