.worth_section_borderBottom {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: 0px;
    background-image: linear-gradient(to right, #bf4a1c, #b93c20, #b32e23, #ac1d26, #a40329);
}