.worth_section_list {
    list-style-type: none;
    padding: 0% 10%;

    li {
        padding: 10px 0px;

        h3 {
            text-align: center;
            color: #a40329;
        }

        p {
            text-align: justify;
            color: #29303b;
        }
    }
}

@media only screen and(min-width: 400px) {
    .worth_section_list {

        li {


            p {
                text-align: center;
                color: #29303b;
            }
        }
    }
}



@media only screen and(min-width: 1000px) {
    .worth_section_list {
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 1%;


        li {
            width: calc(46% - 2px);
            display: block;
            border: 1px solid #bbb;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            margin: 2% 2%;
            height: 200px;
            box-shadow: 1px 6px 10px 1px #29303b;

            p {
                padding: 5% 20%;
                text-align: center;
                color: #29303b;
            }
        }
    }
}

@media only screen and(min-width: 1300px) {
    .worth_section_list {
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 1%;


        li {
            width: calc(23% - 2px);
            display: block;
            border: 1px solid #bbb;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            margin: 5% 1%;
            height: 300px;
            box-shadow: 1px 6px 10px 1px #29303b;


            h3 {
                margin-top: 85px;
            }

            p {
                display: block;
                padding: 5% 20%;
                text-align: center;
                color: #29303b;
            }
        }
    }
}